{% assign hero = assets.first %}
<section class='hero'>
  <div class='hero-bg'>
    <div class='hero-image' style='background-image: url({{ hero.url }}); background-size: {{ hero.meta.type | fallback: "contain" }}; padding-bottom: {{ hero.meta.ratio | fallback: "100%" }};'>
    </div>
  </div>
  {% if hero.meta.text %}
  <div class='hero-text-wrapper'>
    <div class='{{ hero.meta.text-size | fallback: "medium" }} webfont hero-text' style='color: {{ hero.meta.text-color | fallback: "#000" }}; top: {{ hero.meta.text-top | fallback: "0" }};'>{{ hero.meta.text | md }}</div>
  </div>
  {% endif %}
</section>
