$column: 80px
$gutter: 80px
$grid-columns: 12
$max-width: 72em

@import "_normalize"
@import "_mixins"
@import "bourbon/bourbon"
@import "neat/neat"

// variables

$black: #000
$white: #fff
$black: #000
$black: #000
$white: #fff

$ease: $easeInOutQuad

@mixin header-font
  font-family: "Cobol Bold", "Helvetica Neue", Helvetica, sans-serif
  font-size-adjust: 0.51
  font-weight: bold
  font-style: normal
  text-transform: uppercase

@mixin vertically-center
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

// reset

@media screen and (max-device-width: 480px)
  html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

*
  +prefix-property(box-sizing, border-box)

ul
  padding: 0

li
  list-style-type: none

// base

body
  font-family: "Apercu Regular", Calibri, sans-serif
  font-size: 100%/1.65
  font-size-adjust: 0.508
  font-weight:normal
  font-style:normal
  text-rendering: optimizeLegibility

img
  max-width: 100%

a
  color: $black
  text-decoration: none

  img
    vertical-align: top

::selection
  background-color: $black
  color: $white

.webfont
  visibility: hidden

  .wf-active &,
  .wf-inactive &
    visibility: visible

// grid

.grid-list
  pointer-events: none
  z-index: 2
  position: fixed
  top: 0
  left: 0
  width: 100%
  max-width: $max-width
  height: 100%
  margin: 0

  +min-width($max-width)
    left: 50%
    margin-left: -$max-width/2

  li
    +span-columns(1)
    background-color: rgba(255, 0, 0, 0.1)
    height: 100%

// header

.main-header
  +clearfix
  +transition(padding 0.5s $ease)
  position: relative
  padding: 1.5em 0 0.5em
  z-index: 1

  .logo
    +transition(height 0.5s $ease)
    display: block
    top: auto
    left: 6em
    right: 6em
    bottom: auto
    height: 2.5em
    margin: 0 auto 1em 0

    background: url(/assets/logo-black.svg) no-repeat 50% 50%
    background-size: contain
    text-indent: -9999px

  &.knockout
    .logo
      background-image: url(/assets/logo-white.svg)

  .cover &
    position: absolute
    top: 0
    left: 0
    width: 100%

.button
  +transition(all 0.25s $ease)
  display: block
  padding: 0.825em 1.5em
  font-size: 0.875em
  line-height: 1em
  font-weight: bold
  letter-spacing: 1px
  text-transform: uppercase
  color: $black

  &:hover
    background-color: $black
    color: inherit

.main-nav
  position: relative
  z-index: 1
  min-height: 2.4375em
  overflow: hidden

  .handle
    cursor: pointer
    display: none

.nav-list
  +clearfix
  position: relative
  float: left
  left: 50%
  margin: 0
  white-space: nowrap

.nav-list-item
  +transition(all 0.25s $ease)
  float: left
  position: relative
  right: 50%
  border-color: $black

  &.is-selected .nav-button
    border-bottom-style: solid
    border-bottom-width: 2px

.nav-button
  padding-left: 0.75em
  padding-right: 0.75em

  .knockout &
    border-color: $white
    color: $white

    &:hover
      background-color: $white
      border-color: rgba(255, 255, 255, 0)
      color: $black

// hero

.hero
  position: relative

.hero-bg
  max-width: 600px
  margin: 0 auto

  .cover &
    max-width: none

.hero-image
  height: 0
  min-height: 20em
  padding-bottom: 100%
  background-repeat: no-repeat
  background-size: contain
  background-position: 50% 50%

.hero-text-wrapper
  +transition(top 0.5s $ease)
  +vertically-center
  max-width: 50em
  margin: auto

  .cover &
    top: 7rem

    +min-width(40.1em)
      top: 5rem

.hero-text
  +transition(all 0.5s $ease)
  +vertically-center
  display: table
  width: 100%

  +header-font
  font-size: 2em
  line-height: 1.1em
  letter-spacing: 0.0555em
  text-align: center

  blockquote
    font-size: 0.375em
    line-height: 1.25em

    p:last-child
      font-size: 0.625em

  +min-width(30.1em)
    font-size: 3em

  +min-width(40.1em)
    font-size: 4em

  +min-width(50.1em)
    font-size: 5.625em

    &.big
      font-size: 6.75em

.main-content
  +outer-container
  max-width: $max-width
  margin: 2em 0.5em

  +min-width($max-width + 2.1em)
    margin-left: auto
    margin-right: auto

.section,
.article
  +transition(all 0.5s $ease)

  margin-top: 2em

  &:first-child
    margin-top: 0

  h3
    margin: 0.5em 0
    font-size: 0.875em
    text-transform: uppercase

    +min-width(40.1em)
      font-size: 1em

  p
    margin-top: 0
    font-size: 1.25em
    line-height: 1.5em

    +min-width(40.1em)
      font-size: 1.5em

    a
      text-decoration: underline

      &:hover
        text-decoration: none

.link-sidebar
  +transition(all 0.5s $ease)

.links
  p
    font-size: 1.25em
    line-height: 1.5em

    +min-width(30.1em)
      font-size: 2em

    +min-width(40.1em)
      font-size: 3em

.link-section
  margin: 0

  h3
    text-transform: none

  +min-width(40.1em)
    +span-columns(10)
    +shift(1)

  +min-width(60.1em)
    +span-columns(8)
    +shift(2)

.link-list
  margin: 1rem 0

  .link-item
    border-bottom: solid 1px
    margin-bottom: 0.75em
    padding-bottom: 0.75em

    &:last-child
      border-bottom: none
      margin-bottom: 0
      padding-bottom: 0

  +min-width(30.1em)
    font-size: 125%

  +min-width(40.1em)
    font-size: 150%

  +min-width(50.1em)
    &.recommended-list
      font-size: 200%

.recommended-list
  margin-top: 0

.link
  +transition(font-size 0.5s $ease)
  position: relative

  +header-font
  font-size: 1.325em

  &:after
    +transition(opacity 0.25s $ease)
    +prefix-property(opacity, 0)
    position: absolute
    top: -0.025em
    margin-left: 0.25em
    content: '\2192'

  &:hover:after
    +prefix-property(opacity, 1)

  .recommended-list &
    font-size: 1.75em

.main-article
  +span-columns(12)
  margin-top: 0

  h3
    margin-top: 2em
    font-size: 1.125em

  p
    font-size: 1.125em

    &:first-child
      font-size: 1.75em
      line-height: 1.25em

  blockquote
    p
      margin-bottom: 0.5em

  +min-width(40.1em)
    +span-columns(10)
    +shift(1)

    p
      font-size: 1.3125em

      &:first-child
        font-size: 2.625em

  +min-width(60.1em)
    +span-columns(8)
    +shift(0)

.article-date
  +transition(all 0.5s $ease)
  +span-columns(12)
  display: block
  position: relative
  top: 0
  margin-bottom: 1em
  font-size: 1.125em

  +min-width(40.1em)
    +span-columns(10)
    +shift(1)
    font-size: 1.3125em

  +min-width(60.1em)
    +span-columns(2)
    +shift(0)
    top: 0.9375em

+min-width(20.1em)
  .main-header
    padding-top: 2em
    padding-bottom: 1em

+min-width(40.1em)
  .main-header
    padding-top: 3em
    padding-bottom: 2em

  .main-nav
    position: absolute
    top: 3em
    right: 2em
    text-align: right

    .handle
      display: inline-block
      border-style: solid
      border-width: 2px

    &:hover
      .handle
        border-color: inherit

        .cover &
          border-color: rgba(0, 0, 0, 0)

        .knockout.cover &
          border-color: rgba(255, 255, 255, 0)

      .nav-list-item
        +prefix-property(opacity, 1)

  .nav-list
    top: -2px
    left: -2px
    float: none

  .nav-list-item
    +prefix-property(opacity, 0)
    right: 0
    float: none
    border: none

    &.is-selected
      display: none

  .nav-button
    display: inline-block

  .bio,
  .link-sidebar
    +shift(1)
    +span-columns(10)

+min-width(58.1em)
  .main-nav
    .handle
      float: right

  .nav-list
    float: left
    top: 2px
    left: 2px

  .nav-list-item
    float: left

  .bio,
  .link-sidebar
    +span-columns(6)
    +shift(0)
